.cardContainer {
 padding: 24px 24px 0 24px;
background-color: #fff;
border-radius: 24px;
width: 1184px;
}

.header {
   display: flex;
 gap: 24px;  
}

.avatar {
    border: 2px solid var(--secondary-color); ;
border-radius: 30px;
width: 120px;
height: 120px;
display: flex;
justify-content: center;
align-items: center;
position: relative;
padding: 12px;
}

.avatarImg {
    border-radius: 15px;
width: 96px;
height: 96px;
position: relative;
display: block;
} 

svg {
    width: 16px;
    height: 16px;
}

.circle {
  width: 10px;
  height: 10px;
  background-color: #38cd3e;
  border-radius: 50%;
   position: absolute;
   top: 10px;       /* трохи нижче від краю, щоб не виходило за фото */
  right: 10px;   
  z-index: 1000;
}

.nannysInfo {
    display: flex;
    justify-content: space-between;
}

.nanny {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: #8a8a89;
margin-bottom: 8px;
}

.name {
font-weight: 500;
font-size: 24px;
line-height: 1;
color: #11101c;
margin-bottom: 24px;
}

.infoItem {
    display: flex;
   gap: 48px;
}

.infolist {
display: flex;
gap: 16px;
}

.infoListItem {
    padding-right: 16px;
    border-right: 1px solid rgba(17, 16, 28, 0.2);
    height: 24px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.information {
font-weight: 500;
font-size: 16px;
line-height: 1.5;

}

.infoGreen {
    color: #38cd3e;
}

.heart {
    width: 26px;
    height: 26px;
}

.expList {
    display: flex;
    gap: 24px;
    margin-bottom: 8px;
} 

.expListItem {
    display: flex;
    background: #f3f3f3;
    padding: 8px 16px;
    border-radius: 24px;
}

.charactersText {
    display: flex;
    gap: 8px;
    margin-bottom: 24px;
}

.label {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: #8a8a89;
}

.value {
    color: #11101c;
}

.reviews {
font-size: 16px;
line-height: 1.25;
color: rgba(17, 16, 28, 0.5);
margin-bottom: 14px;
}

.review {
    display: flex;
    gap: 12px;
}

.more {
    margin-bottom: 24px;
}

.reviewContainer {
border-radius: 100px;
width: 44px;
height: 44px;
background: rgba(16, 57, 49, 0.2);
display: flex;
    align-items: center;
    justify-content: center;
    background-color:  var(--secondary-color);
}

.reviewerInitial {
font-weight: 500;
font-size: 20px;
line-height: 1;
color: var(--primary-color); 
}

.reviewerInformation {
font-weight: 500;
font-size: 16px;
line-height: 1.25;
}

.revievMainContainer {
    display: flex;
    gap: 25px;
    flex-direction: column;
}


.reviewComment {
font-size: 16px;
line-height: 1.25;
color: rgba(17, 16, 28, 0.5);

}

.heart {
    fill: #8a8a89;
}

.favorite {
    fill: var(--primary-color);
}

.moreBtn {
    border-radius: 30px;
background-color: var(--primary-color);
width: 215px;
height: 48px;
font-weight: 500;
font-size: 16px;
line-height: 1.25;
letter-spacing: -0.01em;
color: #fbfbfb;
margin-top: 48px;
margin-bottom: 12px;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modalContent {
  background: #fff;
  padding: 64px 64px 64px 64px;
  border-radius: 30px;
  width: 599px;
  max-width: 90%;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  background: #fbfbfb;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
