.container {
    border-radius: 30px;
width: 1376px;
height: 736px;
padding: 32px;
display: flex;

}

.background {
  border-radius:30px 0 0 30px;
  width: 699px;
  height: 736px;
 background: var(--primary-color); 

}

.favContainer {
        border-bottom: 1px solid rgba(251, 251, 251, 0.4);
         padding: 30px 0 30px 96px;
}


.favicon {
font-weight: 500;
font-size: 24px;
line-height: 1.17;
letter-spacing: -0.02em;
color: #fbfbfb;

}


.headerContainer{
    width: 517px;
height: 322px;
margin-top: 163px;
margin-left: 96px;

}

.header {
font-weight: 500;
font-size: 70px;
line-height: 1;
letter-spacing: -0.03em;
color: #fbfbfb;
margin-bottom: 28px;
}

.text {
font-size: 28px;
line-height: 1.07;
letter-spacing: -0.02em;
color: #fbfbfb;
margin-bottom: 64px;
}

.start {
border: 1px solid rgba(251, 251, 251, 0.4);
border-radius: 30px;
padding: 18px 48px;
width: 230px;
height: 60px;
background-color: var(--button-color);
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: -0.01em;
color: #fbfbfb;
display: flex;
gap: 18px;
}

.arrow {
    width: 15px;
    height: 17px;
}


.picture {
    border-radius: 0 30px 30px 0;
width: 699px;
height: 736px;
background: url('../../public/img/background.jpg');

}

.pictureContainer {
    display: flex;
    gap: 20px;
    padding: 20px 70px;
        align-items: center;
}

.homeNannies {
    display: flex;
    gap: 40px;
        align-items: center;
    
}


.login {
    display: flex;
    gap: 8px;
        align-items: center;
}

.loginText {
    border: 1px solid rgba(251, 251, 251, 0.4);
border-radius: 30px;
padding: 14px 39px;
width: 124px;
height: 48px;
font-weight: 500;
font-size: 16px;
line-height: 1.25;
letter-spacing: -0.01em;
color: #fbfbfb;
 background-color: transparent;  
}

.regButton {
     background-color: var(--button-color, var(--primary-color));
     border-radius: 30px;
padding: 14px 40px;
width: 168px;
height: 48px;
font-weight: 500;
font-size: 16px;
line-height: 1.25;
letter-spacing: -0.01em;
color: #fbfbfb;
}

.experience{
border-radius: 20px;
width: 284px;
height: 118px;
background: #fbfbfb;
display: flex;
gap: 16px;
padding: 32px;
margin-top: 480px;
margin-left: 365px;
}

.checkContainer {
border-radius: 13px;
width: 54px;
height: 54px;
  background: var(--primary-color); 
 text-align: center;
 padding: 12px;

}

.check {
    width: 30px;
    height: 30px;
   fill: #fff;
}

.expText {
font-size: 16px;
color: rgba(17, 16, 28, 0.5);
}

.expNumber {
font-weight: 700;
font-size: 24px;
color: #11101c;
}

.homeText {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 14px;
  padding: 5px;
}

/* Активна сторінка */
.active::after {
  content: "";
  position: absolute;
  bottom: -8px; /* відстань від тексту */
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
}