:root {
  font-family: Helvetica Neue, sans-serif;
  --primary-color: #f03f3b;
  line-height: 1.5;
  font-weight: 400;
color: #11101c;
max-width: 1440px;
  margin: 0 auto;
  background: #f1f1f1;
   --button-color: #f03f3b;
}

.theme-blue {
  --primary-color: #0957c3;  
  --button-color: #0957c3;
 
}

.theme-green {
  --primary-color: #103931;  
  --button-color: #103931;
 
}


*,
*::before,
*::after {
  box-sizing: border-box;
}
ul, li {
  list-style: none;
  padding: 0; 
  margin: 0; 
}

h1, h2, h3, h4, h5, h6, p { margin: 0;
padding: 0;}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}
  img {
    display: block;
  }

  button {
    cursor: pointer;
    border: none;
  }
